###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Misc
###############################################################################
*.psd1 text
*.rc text eol=crlf encoding=UTF-8
*.zip filter=lfs diff=lfs merge=lfs -text

###############################################################################
# Fix GitHub repo statistics
###############################################################################
*.h linguist-language=C++
drsr.* linguist-vendored
