<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CsWin32" version="0.3.183" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Windows.SDK.Win32Docs" version="0.1.42-alpha" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Windows.SDK.Win32Metadata" version="63.0.31-preview" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Windows.WDK.Win32Metadata" version="0.13.25-experimental" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PeterO.Cbor" version="4.5.5" targetFramework="net472" />
  <package id="PeterO.Numbers" version="1.8.2" targetFramework="net472" />
  <package id="PeterO.URIUtility" version="1.0.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
</packages>