<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net47" />
  <package id="Microsoft.PowerShell.3.ReferenceAssemblies" version="1.0.0" targetFramework="net47" />
  <package id="Pester" version="4.9.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
</packages>